[include]
  path = ~/.gitconfig.local
[push]
  default = current
  autoSetupRemote = true
[color]
  ui = true
[core]
  autocrlf = false
  editor = nvim
  pager = delta --dark
  safecrlf = false
	excludesFile = ~/.gitignore
[diff]
  tool = difftastic
  mnemonicprefix = true
[merge]
  tool = smerge
[difftool]
  prompt = false
[mergetool]
  keepBackup = false
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[mergetool "meld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[alias]
  br = branch
  brnach = branch
  ci = commit
  cl = clone
  co = checkout
  conflicts = diff --name-only --diff-filter=U
  cp = cherry-pick
  dc = diff --cached
  diff = diff --word-diff
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  feather = feature
  fl = log -u
  ksdiff = "difftool -y -t Kaleidoscope"
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  le = log --oneline --decorate --all --graph
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  mrc = "difftool -y -t Kaleidoscope HEAD^..HEAD"
  prev = checkout HEAD^1
  review = "!sh -c 'SHA=${1:-HEAD}; BRANCH=${2:-develop}; if [ $SHA == $BRANCH ] ; then SHA=HEAD; fi; git diff $BRANCH...$SHA;' -"
  reviewtool = "!sh -c 'SHA=${1:-HEAD}; BRANCH=${2:-develop}; if [ $SHA == $BRANCH ] ; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA;' -"
  showtool = "!sh -c 'SHA=${1:-HEAD}; git difftool -y -t Kaleidoscope $SHA^..$SHA;' -"
  st = status -s
  tags = tag --sort=taggerdate
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[url "https://github.com/"]
  insteadOf = git://github.com/
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[branch]
  autosetuprebase = remote
[log]
  decorate = short
[http "https://gopkg.in"]
  followRedirects = true
[http "https://go.googlesource.com"]
  followRedirects = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  commit = yellow bold
  frag = magenta bold
  func = 146 bold
  meta = yellow
  new = green bold
  old = red bold
  plain = 247
  whitespace = red reverse
[diff-so-fancy]
  markEmptyLines = false
  changeHunkIndicators = false
  stripLeadingSymbols = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = true
