set clipboard+=unnamedplus
set clipboard+=ideaput
set incsearch
set visualbell
set noerrorbells

let mapleader = "\<Space>"

vnoremap < <gv
vnoremap > >gv

nnoremap <c-o> :action Back<cr>
nnoremap <tab> :action NextTab<cr>
nnoremap <s-tab> :action PreviousTab<cr>

nnoremap <leader>c :action CommentByLineComment<cr>
nnoremap <leader>= :action ReformatCode<cr>
nnoremap <leader>o :action OptimizeImports<cr>
